{
  "env": {
    "node": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "templateStrings": true
  },
  "rules": {
    "quotes": [2, "double", "avoid-escape"],
    "semi": [2, "never"]
  }
}
