body {
  background: #1D1F21;
}

.content {
  background: inherit;
  color: #C5C8C6;
  font-family: monospace;
  font-size: x-large;
  margin: 1% auto;
  width: 80%;
  padding: 5%;
}

.content .title {
  color: #B294BB;
}

.content .description {
  text-align: justify;
}

.controls {
  display: flex;
}

.controls-icon {
  font-size: 130%;
  color: #B294BB;
}

.links, .actions {
  width: 50%;
}

.links ul, .actions ul {
  list-style-type: none;
  padding-left: 1em;
}

.no-action, .no-link {
  opacity: 0.5;
}

input {
  border: 1px solid #C5C8C6;
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

label:after {
  content: ': ';
}

button {
  border: 1px solid #C5C8C6;
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

a {
  color: #81A2BE;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.blink {
  animation-duration: 2s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
